.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  margin-top: 1rem;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5044e5;
    cursor: pointer;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 10rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    margin-right: 5rem;
    text-align: center;
    color: white;
    font-size: 1rem;
    background: #5044e5;
  }

  .arrow-icon {
    font-size: 1rem;
  }
}
